table thead tr td
{
  font-weight: bold;
  text-align: center;
}

table tbody tr td
{
  text-align: center;
}

tr, td {
  border: 2px solid black;
}

.italic
{
  font-style: italic;
}

#pterror
{
  color: red;
}